[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# Apply Blind Stickers
[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = "table.insert(G.playing_cards, _card)"
position = "before"
match_indent = true
payload = '''if control.opal_stickers then
    _card:opal_stickers(3)
end'''

# Challenge rules regarding blind stickers
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "elseif v.id == 'no_shop_jokers' then"
position = "before"
match_indent = true
payload = '''elseif v.id == 'opal_enable_bl_stickers' then
    v.value = v.value or 3
    G.GAME.modifiers.opal_bl_stickers_level = v.value
    for kk, vv in pairs(OPAL.BStickers) do
        if vv.rarity <= v.value then
            G.GAME.modifiers['enable_'..kk] = true
        end
    end
'''

# Blind Stickers - Strong functionality
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "-- context.after calculations"
position = "before"
match_indent = true
payload = '''G.GAME.opal_strong_score = hand_chips*mult'''

# Stacked functionality + Pillar modifier functionality
[[patches]]
[patches.pattern]
target = "blind.lua"
pattern = "if self.name == 'The Pillar' and card.ability.played_this_ante then"
position = "before"
match_indent = true
payload = '''if G.GAME.modifiers.opal_pillar and card.ability.played_this_ante then
    card:set_debuff(true)
    return
end
if card.ability.opal_stacked and card.ability.played_this_ante then
    card:set_debuff(true)
    return
end'''

# Hungry functionality - add handname to context check
[[patches]]
[patches.pattern]
target = """functions/state_events.lua"""
pattern = """SMODS.calculate_context({modify_scoring_hand = true, other_card =  G.play.cards[i], full_hand = G.play.cards, scoring_hand = scoring_hand, in_scoring = true}, effects)"""
position = 'at'
match_indent = true
payload = '''SMODS.calculate_context({modify_scoring_hand = true, other_card =  G.play.cards[i], full_hand = G.play.cards, scoring_hand = scoring_hand, in_scoring = true, scoring_name = text}, effects)'''

# Add blind sticker to every card in boss blind winning hand
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = '''-- TARGET: effects after hand evaluation'''
position = 'after'
match_indent = true
payload = '''if G.GAME.modifiers.opal_blinds_give_stickers and (G.GAME.chips + G.GAME.opal_strong_score) >= G.GAME.blind.chips then
    local _sticker = OPAL.get_sticker_from_blind(G.GAME.blind.config.blind.key)
    if _sticker then
        for k, v in ipairs(scoring_hand) do
                G.E_MANAGER:add_event(Event({delay = 0.6, trigger = 'after', func = function()
                    v:add_sticker(_sticker, true)
                    v:juice_up(1)
                    play_sound('tarot1')
                return true end }))
        end
    end
end'''